<div class="mb-3">
    <form class="row col-auto g-1 needs-validation" method="post">
        <div class="col">
            <input name="imei" class="form-control" type="text" required placeholder="Введите IMEI" aria-label="default input example" >
        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">Добавить</button>
        </div>
    </form>
</div>
