<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="accordion-body">
            <div class="row mb-3">
                <h2 class="display-6">IMEIStorage</h2>
                <div class="text-end">
                    <figcaption class="blockquote-footer">Добавлено всего: @Model?.Count</figcaption>
                </div>
            </div>


            @RenderBody()
        </div>




        <script src="~/js/jquery/jquery.js"></script>
        <script src="~/css/bootstrap/js/bootstrap.js"></script>

    </div>
    <script>

        $(document).ready(function () {
            $('#AddImei').on('click', function () {
                var imei = $('#imei').val();
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    cache: false,
                    url: 'IMEI/AddIMEI',
                    data: { imei: imei },
                    success: function (response, textStatus, jqXHR) {

                        addImeiToTable(response);
                        $('#imei').val('');
                        //alert(parseInt(response.oldval) + ' changed to ' + newval);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error - ' + errorThrown);
                    }
                });
            });

            function addImeiToTable(res)
            {
                var date = new Date(res.addedDate);

                var m = date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
                var row = $('<tr><td>' + res.imei + '</td><td>' + m +'</td></tr>');
                $('#imeis tbody').prepend(row);
            }


        });


    </script>
</body>

</html>
